/* @group Chicas Aguila list view */

/* @end */

.chicas-aguila .view-banner-principal {
    background-color: #feda00;
}

.node-page[about="/chicas-aguila"] .field-items {
	margin: 20px auto;
	overflow: hidden;
    text-align: center;
}

.item-lista-chicas-aguila {
	background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    display: inline-block;
    text-align: center;
    margin: 0 0px 10px;
    width:  238px;
    vertical-align: top;
}

.item-lista-chicas-aguila h4 {
	font: 700 140% "ITCAvantGardePro", Helvetica, Arial sans-serif;
	color: #000;
	text-transform: uppercase;
	margin: 0 0 25px;
}

.item-lista-chicas-aguila .media-thumbnail-frame {
	margin: 0 0 30px;
}

.item-lista-chicas-aguila p {
	font: 300 100% "Open Sans", Helvetica, Arial, sans-serif;
	color: #747474;
}


.item-lista-chicas-aguila .media-image {
	border-radius: 50%;
	max-width: 50%;
}

/* Styles for slider chicas-aguila#conocelas */

.item-lista-chicas-aguila p{
			display: none;			
}
#node-301{
	width: 1000px;
	margin: 0 auto;
}
.item-lista-chicas-aguila{
	display: inline-block;
	text-align: center;
}
.item-lista-chicas-aguila p.info-conocela{
	border: 0;
	padding: 8px 16px;
	margin: 10px 0;
	background: #0FC3FF;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	display: inline-block;
}
.item-lista-chicas-aguila p.info-conocela>a{
	color: white;
	text-decoration: none;
}
.item-lista-chicas-aguila p.info-conocela>a:hover{
	color: white;
	text-decoration: none;
}
.item-lista-chicas-aguila .media-image{
	margin: 0 auto;
	width: 70%;
}
.container-slider .deg{
	position: absolute;
	top: 0;
	width: 1000px;
	margin: 0 auto;
	left: 0;
	right: 0;
	height: 341px;
}
.container-slider .deg.left{
	background: url(/sites/g/files/ogq1251/f/201504/transp.png) no-repeat;
	background-position: left;
}
.container-slider .deg.right{
	background: url(/sites/g/files/ogq1251/f/201504/transp2.png) no-repeat;
	background-position: right;
}
#node-301 .slick-dots li{
	background: none;
}
#node-301 .slick-dots li button{
	text-indent: inherit;
	font-size: 7px;
}
#node-301 .slick-dots li.slick-active button:before{
	color:rgb(15, 195, 255);
	opacity: 1;
	font-size: 9px;
}

/* End Styles slider chicas-aguila#conocelas*/

/* @group Media Query */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	#node-301{
		width: 320px;
	}
	.container-slider .deg{
		width: 320px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	#node-301{
		width: 600px;
	}
	.container-slider .deg{
		width: 600px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.node-page[about="/chicas-aguila"] .field-items {
		max-width: 760px;
		margin: 108px auto 0px;
	}

	.item-lista-chicas-aguila {
    	/*margin: 0 26px 20px;
    	width:  248px;*/
    	min-height: 400px;
	}

	.item-lista-chicas-aguila h4 {
		font-size: 170%;
	}

	.item-lista-chicas-aguila p {
		font-size: 130%;
	}

	.item-lista-chicas-aguila .media-image {
		max-width: 60%;
	}

	.item-lista-chicas-aguila .media-thumbnail-frame {
		margin: 0 0 45px;
	}
	#node-301{
		width: 750px;
	}
	.container-slider .deg{
		width: 750px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.node-page[about="/chicas-aguila"] .field-items {
		max-width: 992px;
	}

	.item-lista-chicas-aguila {
    	/*margin: 0 15px 20px;
    	width: 218px;*/
	}
	#node-301{
		width: 985px;
	}
	.container-slider .deg{
		width: 985px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	.node-page[about="/chicas-aguila"] .field-items {
		max-width: 1210px;
	}

	.item-lista-chicas-aguila {
    	/*margin: 0 26px;*/
    	/*width:  247px;*/
	}
		#node-301{
		width: 1000px;
	}
	.container-slider .deg{
		width: 1000px;
	}
}
/* @end */
